#bottombar
	overflow-x scroll
	overflow-y hidden
#thumbs
	white-space nowrap
	-webkit-transform translate3d(0, 0, 0)
	        transform translate3d(0, 0, 0)
	.thumb
		cursor pointer
		box-sizing border-box
		vertical-align bottom
		padding-left  gap
		padding-right gap
		height 5em
		width  5em
		border-radius small
		img
			max-height 100%
			max-width  100%
			box-shadow 0 0 0.5em background
			transition all 0.3s ease-in-out
		&:hover
			img
				box-shadow 0 0 0.5em accent
