html, body
	color lightness(foreground, 75%)
	background background
	font-family sans-serif
	margin 0
	text-align center
	-webkit-user-select none
	user-select none
	overflow hidden
	height 100%
	width  100%
	cursor default
body
	text-outline-shadow background
tbody tr:nth-child(even)
	background-color alpha(lightness(foreground, 50%), 0.1)
thead
	background-color alpha(lightness(foreground, 50%), 0.3)
td
	padding 0 0.3em 0 0.3em
h1, h2, th, label
	color foreground
h1, h2, th
	text-align center

:link, :visited, input, button, select
	color foreground
	text-decoration none
	transition slow_fade
	text-outline background
:link, :visited, button, input[type="search"]::-webkit-search-cancel-button
	text-outline-shadow background
:link:hover, :visited:hover, button:hover:not(:disabled), select:hover:not(:disabled), input[type="checkbox"]:hover:after, input[type="search"]::-webkit-search-cancel-button:hover
	color accent
	transition quick_fade
	text-outline-shadow shadow

::-webkit-scrollbar
	width  gap
	height gap
	&-thumb
		border-radius small
		background alpha(foreground, 0.2)
		transition slow_fade
		&:hover
			background alpha(accent, 0.6)
			transition quick_fade

:focus
	outline none
:disabled
	cursor not-allowed
	color lightness(saturation(foreground, 0%), 50%)

inputs    = 'input[type="text"], input[type="search"], input[type="password"], input[type="url"], input[type="number"]'
selectors = 'select, input[type="checkbox"]'
controls  = 'select, button, input[type="checkbox"]'
{inputs + ', ' + selectors + ', ' + controls}
	-webkit-appearance none
	font-size 100%
	padding 0.3em
	border none
{inputs + ', ' + selectors}
	background-color alpha(background, 0.6)
	box-shadow inset 0 0 1em alpha(background, 0.2), 0 0 0.25em alpha(foreground, 0.2)
	border-radius small
	&:focus
		box-shadow inset 0 0 1em alpha(background, 0.2), 0 0 0.25em accent
{inputs}
	cursor text
{controls + ', label[for]'}
	cursor pointer
table
	width 100%
button
	background none
select
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32px' width='32px'><text x='16' y='18' fill='white' font-size='13' style='text-shadow: 1px  1px 1px black, -1px  1px 1px black, 1px -1px 1px black, -1px -1px 1px black'>▼</text></svg>")
	background-repeat no-repeat
	background-position top right
	padding-right 1em
	margin 0.2em 0
select:hover:not(:disabled)
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='32px' width='32px'><text x='16' y='18' fill='hsl(85, 100%, 60%)' font-size='13' style='text-shadow: 1px  1px 1px hsl(85, 100%, 20%), -1px  1px 1px hsl(85, 100%, 20%), 1px -1px 1px hsl(85, 100%, 20%), -1px -1px 1px hsl(85, 100%, 20%), 0    0   0.5em hsl(85, 100%, 20%), 0    0   0.5em hsl(85, 100%, 20%)'>▼</text></svg>")
input[type="checkbox"]
	width  1.75em
	height 1.75em
	color white
	padding 0
	&:after
		transition quick_fade
		content '✓'
		opacity 0
		font-size 200%
		position relative
		top -0.1em
		left 0.05em
		overflow hidden
	&:checked:after
		opacity 1
input[type="search"]::-webkit-search-cancel-button
	-webkit-appearance none
	cursor pointer
	transition slow_fade
	&:after
		content '✕'
input[type="number"]
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><rect x='0' y='0' width='100%' height='100%' fill='green'/></svg>")
	background-repeat no-repeat
	background-size 75% 100%

.fade-in-out, .fade-in, .fade-out.hide
	transition opacity 0.3s ease-in-out
.fade-in.hide, .fade-out
	transition none

.hide
	opacity 0
	pointer-events none
.close
	display none

.center
	position fixed
	top    0
	bottom 0
	left   0
	right  0
	margin auto

.emoji
	font-family "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols"

.right
	direction ltr
	text-align right
	right 0em
.left
	direction rtl
	text-align left
	left 0em
.right *, .left *
	direction initial

.frame
	z-index 20
	position fixed
	padding gap
	transition all 0.4s ease-in-out
	-webkit-transform translate3d(0, 0, 0)
	        transform translate3d(0, 0, 0)
	box-sizing border-box
	background alpha(background, 0.6)
	box-shadow 0 0 gap background
	p
		text-align center
	&.bottom
		left   0
		right  0
		bottom 0
		&.hide
			-webkit-transform translate3d(0, 5em, 0)
			        transform translate3d(0, 5em, 0)
	&.right, &.left
		top    0
		bottom 0
		max-height 100%
		width auto
		min-width 15em
		overflow-x hidden
		overflow-y auto
	&.right
		right 0em
		&.hide
			-webkit-transform translate3d(10em, 0, 0)
			        transform translate3d(10em, 0, 0)
	&.left
		left  0em
		&.hide
			-webkit-transform translate3d(-10em, 0, 0)
			        transform translate3d(-10em, 0, 0)
	&.hide
		z-index 15

.error
	color      negative
	background negative
.warn
	color      warning
	background warning
.info
	color      informative
	background informative
.okay
	color      positive
	background positive
.included
	background alpha(positive, 0.2)
.excluded
	background alpha(negative, 0.2)

.spin
	-webkit-animation spin 1s infinite linear
	animation spin 1s infinite linear
	-webkit-transform-origin 50% 50%
	transform-origin 50% 50%

@keyframes spin
	0%
		-webkit-transform rotate(0deg)
		transform rotate(0deg)
	100%
		-webkit-transform rotate(360deg)
		transform rotate(360deg)
