#loading-results
	z-index 99
	pointer-events none
	position fixed
	top  0
	left 0
	background hsl(85, 100%, 60%)
	height 0.2em
	transition slow_fade
	&.hide
		transition-property opacity

#messages
	z-index 98
	width 100%
	position fixed
	top   0
	left  0
	right 0

#loading-file
	transition opacity 0.3s ease-in-out
	z-index 10
	pointer-events none
	svg
		width  50%
		height 50%
	@media (min-width: narrow) and (min-height: narrow)
		font-size 200%
		svg
			width  35%
			height 35%
	&.hide .spin
		display none

#loading-file-percent
	color foreground
	height 0

.loading
	position relative
	border 0.1em solid alpha(background, 0.2)
	border-left-color foreground
	-webkit-animation spin 1s infinite linear
	animation spin 1s infinite linear
	border-radius 50%
	width  1em
	height 1em
