#settings
	max-width 25em
	width 100%
	td button
		width 100%
	&.hide
		pointer-events none

.left #close_settings:before
	content '✕ '
.right #close_settings:after
	content ' ✕'

#third_party_site_disclaimer
	z-index 9999
	max-width 100%
	box-sizing border-box
	position absolute
	left  gap
	right gap
	background alpha(background, 0.8)
	padding gap
	padding-top 0
	border small negative dotted

#new_site
	display flex
	label
		flex 1
		align-self center
#new_site_address
	flex 2

.site
	margin gap 0 gap 0
	display flex
	flex-flow row wrap
	width 100%
	&:nth-child(even)
		background-color alpha(lightness(foreground, 50%), 0.1)

.site_enabled
	

.site_status
	text-align center
	padding gap
	width 100%
	background none

.site_address
	flex 2
	height 100%

.site_remove
	height 100%
	background alpha(negative, 0.2)
