#sidebar
	width 25em
	@media (max-width: narrow)
		width 80%

.left #open_settings:before
	content '≡ '
.right #open_settings:after
	content ' ≡'

#info-version
	font-size 75%
	line-height 3em
.left #info-version
	float right
.right #info-version
	float left

#search
	width 100%

#display-options
	tbody th
		width 40%
		text-align right

#display-file
	float left

#display-file-default
	padding-left 1em
	@media (max-width: narrow)
		display block
		font-size 75%

#display-filters
	text-align center
	button
		@media (max-width: narrow)
			display block
			margin 0 auto

#tags-name, #excluded_tags-name
	@media (max-width: narrow)
		display block
		text-align center

#tags-total, #excluded_tags-total, .tag-total
	text-align right
	@media (max-width: narrow)
		display none

.tag-exclude, .tag-include
	button
		font-size 125%
		font-family monospace
		width 100%
	@media (max-width: narrow)
		display none

.tag-name, .note-body
	width 100%
	max-width 0 // It's okay, I didn't understand why this worked either till I read this: http://stackoverflow.com/questions/26292408/why-does-this-behave-the-way-it-does-with-max-width-0/26293398#26293398
	word-wrap break-word
	button
		width 100%

#results-site, #results-uploaded, #results-uploader, #results-source
	td
		max-width 0
		word-wrap break-word
		text-align center
