#gestures
	z-index 9
	position fixed
	top  0
	left 0
	width  100%
	height 100%

.view
	z-index 0
	transition-property opacity, background-color
	transform translate3d(0, 0, 0)
	background-color #111
	background-image:
		linear-gradient( 45deg, alpha(black, 0.25) 25%, transparent 25%, transparent 75%, alpha(black, 0.25) 75%, alpha(black, 0.25)),
		linear-gradient(-45deg, alpha(black, 0.25) 25%, transparent 25%, transparent 75%, alpha(black, 0.25) 75%, alpha(black, 0.25))
	background-size 3em 3em
	position absolute
	top  0
	left 0
	height 100%
	width  100%
	.content
		box-shadow 0 0 1em black
		pointer-events none
		transition 0.3s ease-in-out
		transition-property -webkit-filter, filter, background-color, image-rendering // last one doesn't currently work; maybe in the future...
	&:not(.natural)
		.tall
			height 100%
			width  auto
		.wide
			height auto
			width  100%
	&.natural
		overflow hidden
		*
			position absolute
			margin 0
		.tall
			margin 0 auto
		.wide
			margin auto 0
		.small
			margin auto
	div.center
		height 0

.pixel_art
	image-rendering pixelated
.invert
	-webkit-filter invert()
	filter invert()

.notes
	position absolute
	background none
	border none
	padding 0
	z-index 1
